## Soal UTS

In [2]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [3]:
for company in company_detail_list[::-1]:
    company_name = company["name"]
    print('name :', company_name)

name : Company 3
name : Company 2
name : Company 1

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [4]:
company_list=list(company.keys())
company_list.sort()

for company in company_detail_list:
    company_name = company["name"]
    dom = company["domain"]
    cty = company["country"]
    print(company_name,':', dom, '(',cty,')')

Company 1 : Retail ( United States )
Company 2 : Technology ( United Kingdom )
Company 3 : Healthcare ( United States )

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [5]:
company_map = {company['name']: company['domain'] for company in company_detail_list}

domain_employee_map = {}
for employee in employee_detail_list:
    company_name = employee['company']
    domain = company_map.get(company_name)
    if domain:
        if domain not in domain_employee_map:
            domain_employee_map[domain] = []
        domain_employee_map[domain].append(employee['full_name'])

for domain, employees in domain_employee_map.items():
    print(f"{domain}:")
    for employee in employees:
        print(f"    {employee}")

Retail:
    John Doe
    Ying Han Tan
    Robert White
Technology:
    Tom Smith
    Rubby Lee
Healthcare:
    Andrew Sebastian
    Kenneth Ng

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [6]:
company_map = {company['name']: (company['domain'], company['country']) for company in company_detail_list}
formatted_employees = []

for employee in employee_detail_list:
    company_name = employee['company']
    dom, cty = company_map.get(company_name, (None, None))
    
    if dom:
        formatted_employees.append({
            'full_name': employee['full_name'],
            'company': company_name,
            'country': cty
        })

for employee in formatted_employees:
    print(f"full_name: {employee['full_name']}")
    print(f"company: {employee['company']}")
    print(f"country: {employee['country']}")
    print()

full_name: John Doe
company: Company 1
country: United States

full_name: Tom Smith
company: Company 2
country: United Kingdom

full_name: Andrew Sebastian
company: Company 3
country: United States

full_name: Ying Han Tan
company: Company 1
country: United States

full_name: Kenneth Ng
company: Company 3
country: United States

full_name: Rubby Lee
company: Company 2
country: United Kingdom

full_name: Robert White
company: Company 1
country: United States

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [7]:
def count_employee_nationalities(employee_detail_list, company_detail_list):
    company_map = {company['name']: (company['domain'], company['country']) for company in company_detail_list}

    company_nationality_map = {}

    for employee in employee_detail_list:
        company_name = employee['company']
        nationality = employee['nationality']
        
        domain, country = company_map.get(company_name, (None, None))
        
        if domain:
            if company_name not in company_nationality_map:
                company_nationality_map[company_name] = {}
            
            if nationality not in company_nationality_map[company_name]:
                company_nationality_map[company_name][nationality] = 0
            company_nationality_map[company_name][nationality] += 1
            
    results = []
    
    for company in company_detail_list:
        company_name = company['name']
        if company_name in company_nationality_map:
            results.append({
                'company': company_name,
                'employee_nationality': company_nationality_map[company_name]
            })
        else:
            results.append({
                'company': company_name,
                'employee_nationality': {}
            })
    
    return results

nationality_counts = count_employee_nationalities(employee_detail_list, company_detail_list)
for company_info in nationality_counts:
    print(f"company: {company_info['company']}")
    print("employee_nationality:")
    for nationality, count in company_info['employee_nationality'].items():
        print(f"    {nationality}: {count}")
    print()

company: Company 1
employee_nationality:
    Australia: 2
    United Kingdom: 1

company: Company 2
employee_nationality:
    United States: 1
    Hong Kong: 1

company: Company 3
employee_nationality:
    United States: 2